body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f7f7f7;
  color: #333;
}

.navbar-container {
  display: flex;
  background-color: red;
  padding: 10px 100px;
  justify-content: space-between;
  font-size: 10px;
}

#home {
  margin-bottom: 5px;
  font-size: 50px;
  text-align: center;
  background-color: #333;
  padding: 10px 100px;
}

#home p {
  font-size: 25px;
}

.filter-btns button {
  margin: 5px;
  background-color: white;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s;
}

.filter-btns button:hover {
  background-color: #c62828;
  color: white;
}

.container {
  max-width: 1000px;
  margin: 20px auto;
  padding: 10px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.produk-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 220px;
  padding: 15px;
  text-align: center;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 10px;
  height: 140px;
  object-fit: cover;
}

.harga {
  color: #e53935;
  font-weight: bold;
}

button {
  margin-top: 10px;
  background-color: #e53935;
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #c62828;
}

#keranjang {
  width: 80%;
  margin: 50px;
  background-color: aliceblue;
  border-radius: 10px;
  box-shadow: 0 2px 8px black;
  padding: 20px;
}

#keranjang h2 {
  margin-bottom: 15px;
  font-size: 15px;
}

#tabelKeranjang {
  width: 100%;
  border-collapse: collapse;
}

#tabelKeranjang th,
#tabelKeranjang td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid grey;
}

#tabelKeranjang th {
  background-color: white;
}

#tabelKeranjang button {
  background-color: red;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

#tabelKeranjang button:hover {
  background-color: red;
}

#totalHarga {
  text-align: left;
  font-weight: bold;
  margin-top: 10px;
  color: white;
}

footer {
  text-align: center;
  background-color: red;
  color: white;
  padding: 15px;
  margin-top: 40px;
  font-size: 7px;
  border-top: 2px solid grey;
}
